:root {
  --footer-height: 60px
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .bg-unesp {
    background-color: #2196E3 !important;
  }


  .navbar-unesp{
    color: #fff;
  }

  .navbar-unesp .navbar-brand {
    color: #fff;
  }
  
  .navbar-unesp .navbar-brand:hover, .navbar-unesp .navbar-brand:focus {
    color: #fff;
  }
  
  .navbar-unesp .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-unesp .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .navbar-unesp .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .navbar-unesp .navbar-nav .show > .nav-link,
  .navbar-unesp .navbar-nav .active > .nav-link,
  .navbar-unesp .navbar-nav .nav-link.show,
  .navbar-unesp .navbar-nav .nav-link.active {
    color: #fff;
  }
  
  .navbar-unesp .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-unesp .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-unesp .navbar-text {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar-unesp .navbar-text a {
    color: #fff;
  }
  
  .navbar-unesp .navbar-text a:hover, .navbar-unesp .navbar-text a:focus {
    color: #fff;
  }


  .btn-xs {
    padding: .1rem 1.2rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .55rem;
    border: 1px solid #000;
  }

  .btn-xs.btn-danger {
    border: 1px solid rgb(179, 0, 0);
  }

  .btn-login {
    padding: .1rem 1.2rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .55rem;
    border: 1px solid #043d7a;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #2196E3;
    background-clip: padding-box;
    border: 1px solid #0055b1;
    border-radius: 0.25rem;
  }

  .dropdown-menu a{
    color: #fff;
  }

  #div_footer {
    height: var(--footer-height);
  }

  body {
    padding-top: 60px;
    margin-bottom: var(--footer-height);
  }
  @media (max-width: 979px) {
    body {
      padding-top: 200px;
    }
  }

  .table tbody tr {
    background-color: #F7F7F7;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #EDEFF1;
  }

  .table-hover tbody tr:hover {
    background-color: #D4F4FC;
  }

  .table .thead-unesp th {
    color: #000;
    background-color: #A1CCEC;
    border-color: #A1CCEC;
  }
  