{% extends 'matricula/index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}



{% block content %}

    <div class="container w-25 pt-5">
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="label">
                    Digite o email para recuperar a senha:
                </label>
                {{ form.email|add_class:"form-control form-control-sm" }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Continuar">
            </div>
        </form>
    </div>

{% endblock %}