{% extends 'matricula/index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}



{% block content %}

    <div class="container w-25 pt-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" class="label">
                    Nova senha:
                </label>
                {{ form.new_password1|add_class:"form-control form-control-sm" }}
            </div>
            {% comment %} <div class="alert alert-danger alert-sm">{{ form.new_password1.errors }}</div> {% endcomment %}
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="label">
                    Digite a senha novamente:
                </label>
                {{ form.new_password2|add_class:"form-control form-control-sm" }}
            </div>
            {% if form.new_password2.errors %}
                <div class="alert alert-danger alert-sm">{{ form.new_password2.errors }}</div>
            {% endif %}
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Alterar senha">
            </div>
        </form>
    </div>

{% endblock %}