<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jade - FCAV</title>
</head>
<body>
  <h1>Redefinição de senha</h1>
  <p>Clique no link abaixo para redefinir sua senha: </p>
  <p><a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Redefinir minha senha</a></p>
</body>
</html>