{% extends 'matricula/index.html' %}
{% load staticfiles %}



{% block content %}
    <div class="container">

        {% for message in messages %}
            <div class="alert alert-danger alert-sm">{{ message }}</div>
        {% endfor %}

        <form method="post" id="form_atualizar_departamento" method="POST" action="{% url 'atualizar_bd' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group h-25">
                Selecione a tabela para atualizar:

                <div class="form-group border p-2 pl-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_aluno" value="Aluno">
                        <label class="form-check-label" for="radio_aluno">Aluno</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_coeficientes" value="coeficientes">
                        <label class="form-check-label" for="radio_coeficientes">Coeficientes</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_curso" value="Curso">
                        <label class="form-check-label" for="radio_curso">Curso</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_departamento" value="Departamento" checked>
                        <label class="form-check-label" for="radio_departamento">Departamento</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_disciplina" value="Disciplina">
                        <label class="form-check-label" for="radio_disciplina">Disciplina</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tabela" id="radio_turma" value="Turma">
                        <label class="form-check-label" for="radio_turma">Turma</label>
                    </div>  

                </div>
            </div>

            <div class="form-group h-25">
                Tipo de atualização:

                <div class="form-group border p-2 pl-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tipo" id="radio_replace_all" value="replace_all" checked>
                        <label class="form-check-label" for="radio_replace_all">Apagar todos e Incluir os novos</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tipo" id="radio_add_update_all" value="add_update_all">
                        <label class="form-check-label" for="radio_add_update_all">Atualizar todos e Incluir os novos</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio_tipo" id="radio_delete_all" value="delete_all">
                        <label class="form-check-label" for="radio_delete_all">Apagar todos os registros</label>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="upload_file" name="upload_file">
                    <label class="custom-file-label" for="customFile">Escolha o arquivo</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Atualizar Banco de Dados" class="btn btn-sm btn-primary">
            </div>
        </form>
    </div>

{% endblock %}



{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/matricula/atualizar_bd.js' %}"></script>
{% endblock %}