{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block extra_css%}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matricula/matricula_js.js' %}"></script>
    
    <title>Jade - FCAV</title>
</head>
<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-6 border text-center" id="divTitle">
                <h1>Título</h1>
                <a href="{% url 'load_semesters' %}" class="btn btn-sm btn-secondary">Testar</a>
            </div>
            <div class="col-6 border text-right" id="divUser">
                {% if user.is_authenticated %}
                    Logado como: {{ user.username }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% block content_base %}
            {% endblock %}
        </div>

    </div>

</body>

{% block index %}
{% endblock %}


{% block extra_js %}
{% endblock %}
