{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container border">
        <form method="post" action="{% url 'calendario' %}">
        {% csrf_token %}
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Ano</label>
            <div class="col-auto">
                <input type="text" id="text_ano" name="text_ano" class="form-control form-control-xs" 
                placeholder="Ano" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Semestre</label>
            <div class="col-auto">
                <input type="text" id="text_semestre" name="text_semestre" class="form-control form-control-xs" 
                placeholder="Semestre" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Início - Semestre</label>
            <div class="col-auto">
                <input type="text" id="data_ini_sem" name="data_ini_sem" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Término - Semestre</label>
            <div class="col-auto">
                <input type="text" id="data_fim_sem" name="data_fim_sem" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Início - Ajustes</label>
            <div class="col-auto">
                <input type="text" id="data_ini_aj" name="data_ini_aj" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="hora_ini_aj" name="hora_ini_aj" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Término - Ajustes</label>
            <div class="col-auto">
                <input type="text" id="data_fim_aj" name="data_fim_aj" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="hora_fim_aj" name="hora_fim_aj" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Início - Aluno Especial</label>
            <div class="col-auto">
                <input type="text" id="data_ini_ae" name="data_ini_ae" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="hora_ini_ae" name="hora_ini_ae" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Término - Aluno Especial</label>
            <div class="col-auto">
                <input type="text" id="data_fim_ae" name="data_fim_ae" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="hora_fim_ae" name="hora_fim_ae" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Início - Equivalentes</label>
            <div class="col-auto">
                <input type="text" id="data_ini_eq" name="data_ini_eq" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="hora_ini_eq" name="hora_ini_eq" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-3 col-form-label text-right form-control-xs">Término - Equivalentes</label>
            <div class="col-auto">
                <input type="text" id="fim_ini_eq" name="fim_ini_eq" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
            <label class="col-auto col-form-label text-right form-control-xs">Horário</label>
            <div class="col-auto">
                <input type="text" id="fim_ini_eq" name="fim_ini_eq" class="form-control form-control-xs" 
                placeholder="dd/mm/aaaa" value="" required>
            </div>
        </div>
        <div class="form-group-row">
            <div class="col-3 text-right">
                <input type="submit" class="btn btn-sm btn-primary" value="Salvar" id="bt_save_calendario" disabled>
            </div>
        </div>
    </div>
{% endblock %}