{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col" colspan="2" class="text-center">Calendário Escolar: {{ c }}</th>
                </tr>
            </thead>
            <tr>
                <th scope="row" class="text-right">Início e Término do semestre</th>
                <td>{{ c.inicio_semestre|date:"d/m/Y" }} até {{ c.fim_semestre|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Ajustes de Matrícula: </th>
                <td>{{ c.inicio_aj|date:"d/m/Y" }} às {{ c.inicio_aj|date:"H:i" }}h 
                    até {{ c.fim_aj|date:"d/m/Y" }} às {{ c.fim_aj|date:"H:i" }}h</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Aluno Especial: </th>
                <td>{{ c.inicio_ae|date:"d/m/Y" }} às {{ c.inicio_ae|date:"H:i" }}h 
                    até {{ c.fim_ae|date:"d/m/Y" }} às {{ c.fim_ae|date:"H:i" }}h</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Disciplinas Equivalentes: </th>
                <td>{{ c.inicio_eq|date:"d/m/Y" }} às {{ c.inicio_eq|date:"H:i" }}h
                    até {{ c.fim_eq|date:"d/m/Y" }} às {{ c.fim_eq|date:"H:i" }}h</td>
            </tr>
        </table>
    </div>
{% endblock %}