{% extends 'matricula/index.html' %}
{% load filtros_matricula %}

{% block content %}
    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-danger alert-sm">{{ message }}</div>
        {% endfor %}
        {% if matriculas %}
            <form method="post" action="{% url 'excluir_matricula' %}">
                {% csrf_token %}
                <table class="table table-striped table-hover table-sm small" id="table_matriculas">
                    <thead class="thead-unesp">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Aluno</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Status</th>
                            <th scope="col">Parecer</th>
                            <th scope="col">Processada (STG)</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    {% for matricula in matriculas %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ matricula.aluno }}</td>
                            <td>{{ matricula.tipo }}</td>
                            <td>{{ matricula.turma }}</td>
                            <td>{{ matricula.turma.curso.nome }}</td>
                            <td>{{ matricula.status }}</td>
                            <td>{{ matricula.parecer_docente|c_bool_none:"Sim,Não,"|linebreaksbr }}</td>
                            <td>{{ matricula.atendida|c_bool_none:"Sim,Não," }}</td>
                            <td>
                                {% if matricula.atendida == False %}
                                    <button type="submit" class="btn btn-xs btn-danger" value="{{ matricula.id }}" name="delete_button">Excluir</button>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        {% endif %}
    </div>

{% endblock %}