{% extends 'matricula/index.html' %}

{% block content %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    {% if matricula %}

        Turma: {{ matricula.turma }}<br>
        Data da solicitação: {{ matricula.data_solicitacao }}<br>
        Justificativa: {{ matricula.justificativa|linebreaksbr }}<br>
        Status: {{ matricula.status }}<br>
    <p>
        <a href="{% url 'consultar_matricula' %}" class="btn btn-sm btn-outline-danger">Voltar</a>
    </p>
    {% else %}
    <div class="container w-50">
        Nenhuma matrícula encontrada
    </div>
    {% endif %}





{% endblock %}