{% extends 'matricula/index.html' %}
{% load filtros_matricula %}

{% block content %}
    
<div class="container">
    {% if matricula %}
    <form method="post" url-ajax="#" id="form_editar_matricula" method="POST" action="{% url 'editar_matricula' matricula.id %}">
        {% csrf_token %}
        <div class="form-group">
            Aluno:
            <label class="form-control form-control-sm">{{ matricula.aluno }}</label>
        </div>
        <div class="form-group">
            Turma:
            <label class="form-control form-control-sm">{{ matricula.turma }}</label>
        </div>
        <div class="form-group" id="div_status_matricula" url-ajax="{% url 'load_status_matricula' %}">
            Status:
            <select id="sel_status" name="status" class="form-control form-control-sm">
            </select>
        </div>
        <div class="form-group">
            Parecer do Docente:
            <textarea name="text_parecer" class="form-control">{{ matricula.parecer_docente|c_bool_none:",," }}</textarea>
        </div>
        <div class="form-group">
            Observação:
            <textarea name="text_observacao" class="form-control">{{ matricula.observacao_graduacao|c_bool_none:",," }}</textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-sm btn-primary">
        </div>

    </form>
    <p>
        <a href="{% url 'consultar_matricula' %}" class="btn btn-sm btn-outline-danger">Voltar</a>
    </p>
        <input type="button" id="bt_teste" value="Teste">

    {% else %}
        {% for message in messages %}
            <div class="alert alert-danger alert-sm">{{ message }}</div>
        {% endfor %}
    {% endif %}


</div>

<script>

$(document).ready(function(){
    var replace_content = true;
    url = $('#div_status_matricula').attr('url-ajax');
    load_data_ajax(null, $('#sel_status'), url, function(){choose_select($('#sel_status'), {{ matricula.status_id }});}, replace_content);
});

$('#bt_teste').click(function(){
    $('#sel_status').val({{ matricula.status_id }});
});

</script>

{% endblock %}