{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block extra_css%}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matricula/matricula_js.js' %}"></script>
    
    <title>Jade - FCAV</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-unesp fixed-top">
        <a class="navbar-brand" href="#">MENU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administração
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Admin</a>
                        <a class="dropdown-item" href="#">Atualizar BD</a>
                        <a class="dropdown-item" href="#">Processar Matrículas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Calendário</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Aluno
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Solicitar Matrícula</a>
                        <a class="dropdown-item" href="#">Consultar Matrículas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <div class="text-white mx-auto">
                Título
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if user.aluno.nome %}
                        {{ user.aluno.nome }}
                    {% else %}
                        {{ user.admin.nome }}
                    {% endif %}
                {% else %}
                    <form class="form-inline mt-2 mt-md-0" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Usuário" name="username">
                        <input class="form-control form-control-sm mr-sm-2" type="password" placeholder="Senha" name="password">
                        <input type="submit" class="btn btn-sm btn-outline-success my-2 my-sm-0" value="Login">
                        <a class="btn btn-sm btn-outline-primary ml-2" href="#">Registre-se</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>


<div class="row">
    <div class="col-12 pt-4">
        {% block content %}
        {% endblock %}
    </div>
</div>


<footer class="page-footer font-small blue pt-4 fixed-bottom">

  <div class="footer-copyright text-center py-3">Desenvolvido por Ivan. L. Bolorino -
  <a href="https://www.fcav.unesp.br/#!/ensino/graduacao/"> Seção de Graduação</a> - {% now 'Y' %}
  </div>
  <!-- Copyright -->

</footer>



<script>

$('#navbarNavDropdown ul li').click(function(){
  $('#navbarNavDropdown ul li.active').removeClass('active');
  $(this).addClass('active');
});

</script>
</body>
</html>