{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    {% block extra_css%}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matricula/matricula_js.js' %}"></script>
    
    <title>Jade - FCAV</title>
</head>
<body>

    <div class="fixed-top bg-unesp navbar-unesp navbar navbar-expand-lg">
        <div class="navbar-brand pl-3 my-auto">
            Jade - FCAV
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="mr-auto border-left ml-0 pl-1">
                <ul class="navbar-nav">
                    {% if user.admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="nav_bar_dropdown_adm"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administração
                            </a>
                            <div class="dropdown-menu" aria-labelledby="nav_bar_dropdown_adm">
                                {% with categoria=user.admin.categoria %}
                                    {% if categoria == "stg" %}
                                        <a class="dropdown-item" href="/admin" target="_blank">Admin</a>
                                        <a class="dropdown-item" href="{% url 'atualizar_bd' %}">Atualizar BD</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'processar_matriculas' %}">Processar Matrículas</a>
                                {% endwith %}
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendario' %}">Calendário</a>
                    </li>
                    {% if user.aluno %}
                        <li class="nav-item dropdown">
                            <a id="nav_bar_dropdown_matricula" class="nav-link dropdown-toggle" href="#" id="nav_bar_dropdown_adm"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                Matrícula
                            </a>
                            <div class="dropdown-menu" aria-labelledby="nav_bar_dropdown_adm">
                                <a class="dropdown-item" href="{% url 'consultar_matricula' %}">Consultar</a>
                                <a class="dropdown-item" href="{% url 'solicitar_matricula' %}">Solicitar</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if user.admin %}
                        <li class="nav-item dropdown">
                            <a id="nav_bar_dropdown_matricula" class="nav-link dropdown-toggle" href="#" id="nav_bar_dropdown_relatorios"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                Relatórios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="nav_bar_dropdown_relatorios">
                                <a class="dropdown-item" href="{% url 'relatorio_alunos' %}">Alunos</a>
                                <a class="dropdown-item" href="{% url 'relatorio_alunos_fora' %}">Alunos de fora</a>
                                <a class="dropdown-item" href="{% url 'relatorio_departamentos' %}">Departamentos</a>
                                <a class="dropdown-item" href="{% url 'relatorio_disciplinas' %}">Disciplinas</a>
                                <a class="dropdown-item" href="{% url 'relatorio_turmas' %}">Turmas</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="pr-2">
                {% if user.is_authenticated %}
                    {% if user.aluno %}
                        {{ user.aluno.nome }}
                    {% else %}
                        {{ user.admin.nome }}
                    {% endif %}
                    <a class="btn btn-login btn-primary ml-2" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <form class="form-inline mb-0" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <input class="form-control form-control-xs mr-sm-2" type="text" placeholder="Usuário" name="username" required>
                                </td>
                                <td>
                                    <input class="form-control form-control-xs mr-sm-2" type="password" placeholder="Senha" name="password" required>
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-login btn-primary my-2 my-sm-0 mr-2" value="Login">
                        <a class="btn btn-login btn-primary" href="{% url 'registrar_usuario' %}">Registre-se</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="{% url 'reset_password' %}" class="text-light small">Esqueci minha senha.</a>
                                </td>
                            </tr>
                        </table>
                        
                        
                        
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row pt-3 mt-auto">
        <div class="col-12 pb-5">
            {% block content %}
            {% endblock  %}
        </div>
    </div>


  <div class="text-center py-2 bg-unesp text-white fixed-bottom" id="div_footer">Desenvolvido por Ivan. L. Bolorino - 
    <a href="https://www.fcav.unesp.br/#!/ensino/graduacao/" class="text-white font-weight-bold" target="_blank"><u>Seção de Graduação</u></a> - {% now 'Y' %}
    <div>UNESP - Campus de Jaboticabal</div>
  </div>



<script>

$('#navbarNavDropdown ul li a').click(function(){
  $('#navbarNavDropdown ul li a.font-weight-bold').removeClass('font-weight-bold');
  $(this).addClass('font-weight-bold');
});

</script>

{% block extra_js %}
{% endblock %}

</body>
</html>