{% extends "matricula/index.html" %}

{% block content %}
<div class="container w-25 pt-5">
    {% for message in messages %}
        <div class="alert alert-danger alert-sm">{{ message }}</div>
    {% endfor %}
    <form class="form-signin" role="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        {% comment %} <h2 class="form-signin-heading">Login</h2> {% endcomment %}

        <input type="text" id="id_username" name="username" class="form-control" placeholder="Nome de usuário" required autofocus>
        <br>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required>
<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>

        <a href="{% url 'registrar_usuario' %}">Registre-se</a>
    </form>
</div>
{% endblock %}