{% extends 'matricula/index.html' %},
{% load staticfiles %}



{% block content %}
    <div class="container">

        {% if not active_ae and not active_aj and not active_eq and not nova_matricula or not active_ae and user.aluno.categoria.categoria|lower == "aluno de fora" %}
            <div class="alert alert-sm alert-danger">
                <h5 class="alert-heading">Nenhum período de matrícula ativo!</h5>
                <hr>
                <div><u>Ajustes de Matrícula</u>: {{ current_semester.inicio_aj }} até {{ current_semester.fim_aj }}.</div>
                <div><u>Matrícula de Aluno Especial</u>: {{ current_semester.inicio_ae }} até {{ current_semester.fim_ae }}.</div>
                <div><u>Matrícula em Disciplinas Equivalentes</u>: {{ current_semester.inicio_eq }} até {{ current_semester.fim_eq }}.</div>
            </div>
        {% else %}
            {% for message in messages %}
                <div class="alert alert-danger alert-sm">{{ message }}</div>
            {% endfor %}

            {% if nova_matricula and nova_matricula != 1 %}
                <div class="alert alert-success alert-sm">Matrícula Solicitada em {{ nova_matricula }}</div>
            {% endif %}

            <form method="post" action="{% url 'solicitar_matricula' %}" id="form_matricula" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" id="div_tipo_matricula" url-ajax="{% url 'load_cursos'%}">
                Tipo de Matrícula:
                    <div class="form-control form-control-sm">
                        {% if active_ae %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_matricula" id="tipo_matricula1" value="AE">
                                <label class="form-check-label" for="tipo_matricula1">Aluno Especial</label>
                            </div>
                        {% endif %}
                        {% if user.aluno.categoria.categoria|lower != "aluno de fora" %}
                            {% if active_aj %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_matricula" id="tipo_matricula2" value="AJ">
                                <label class="form-check-label" for="tipo_matricula2">Ajuste de Matrícula</label>
                            </div>
                            {% endif %}
                            {% if active_eq %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_matricula" id="tipo_matricula3" value="EQ">
                                <label class="form-check-label" for="tipo_matricula3">Disciplinas Equivalentes</label>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if user.aluno.categoria|lower == "aluno de fora" %}
                    {% if user.aluno.rg_file == "" or user.aluno.comprovante_file == "" %}
                        <div class="form-group">
                            Documentos:
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control-sm" id="rg_file" name="rg_file" required accept="application/pdf" data-msg="RG">
                                <label class="custom-file-label form-control-sm" for="customFile">Escolha o RG</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input form-control-sm" id="comp_file" name="comp_file" required accept="application/pdf" data-msg="Comprovante">
                                <label class="custom-file-label form-control-sm" for="customFile">Escolha o Comprovante</label>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}





                <div class="form-group">
                Curso:
                <select id="sel_curso" name="curso" class="form-control form-control-sm"
                        url-ajax="{% url 'load_disciplinas'%}" required>
                    <option value="0">Selecione um curso...</option>
                </select>
                </div>
                <div class="form-group">
                Disciplina:
                <select id="sel_disciplina" name="disciplina" class="form-control form-control-sm"
                        url-ajax="{% url 'load_turmas'%}" required>
                    <option value="0">Selecione uma disciplina...</option>
                </select>
                </div>
                <div class="form-group">
                Turma:
                <select id="sel_turma" name="turma" class="form-control form-control-sm">
                    <option value="0">Selecione uma turma...</option>
                </select>
                </div>
                <div class="form-group">
                Justificativa: <textarea id="justificativa" name="justificativa" class="form-control" required></textarea>
                </div>

                <input type="submit" value="Solicitar matrícula" class="btn btn-primary">
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/matricula/matricula_html.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matricula/upload_file.js' %}"></script>
{% endblock %}