{% extends 'matricula/index.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row d-none" id="div_nova_pesquisa">
        <div class="col-12 pb-4">
            <input type="button" value="Nova Pesquisa" class="btn btn-primary" id="bt_nova_pesquisa">
        </div>
    </div>
    <div class="row" id="div_pesquisa">
        <div class="col-12">
            <p>Filtros:</p>
            <form method="post" url-ajax="{% url 'processar_matriculas' %}" id="form_processar_matricula">
                {% csrf_token %}
                <div class="form-group">
                    Nome ou RA do aluno:
                    <input type="text" id="text_aluno" name="text_aluno" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    Curso do aluno:
                    <input type="text" id="text_curso_aluno" name="text_curso_aluno" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    Disciplina:
                    <input type="text" id="text_disciplina" name="text_disciplina" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    Curso da disciplina:
                    <select id="sel_curso_disciplina" name="curso_disciplina" class="form-control form-control-sm"
                            url-ajax="{% url 'load_cursos'%}">
                        <option value=""></option>
                    </select>
                </div>
                {% if not user.admin.categoria == "depto" %}
                    <div class="form-group">
                        Departamento:
                        <input type="text" id="text_departamento" name="text_departamento" class="form-control form-control-sm">
                    </div>
                {% endif %}
                <div class="form-group" id="div_tipo_matricula" url-ajax="{% url 'load_tipo_matricula' %}">
                    Tipo de Matrícula:
                    <select id="sel_tipo" name="tipo" class="form-control form-control-sm">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group" id="div_status_matricula" url-ajax="{% url 'load_status_matricula' %}">
                    Status:
                    <select id="sel_status_pesquisar" name="status" class="form-control form-control-sm">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group" id="div_semester" data-ajax="{% url 'load_semesters' %}">
                    Semestre:
                    <select id="sel_semesters" name="sel_semesters" class="form-control form-control-sm">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group h-25" id="div_tipo_matricula" url-ajax="{% url 'load_cursos'%}">
                    Colunas para exibição:
 
                    <div class="form-group border p-2 pl-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_ra" value="ra">
                            <label class="form-check-label" for="check_ra">RA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_rg" value="rg">
                            <label class="form-check-label" for="check_rg">RG</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_cpf" value="cpf">
                            <label class="form-check-label" for="check_cpf">CPF</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_telefone" value="telefone">
                            <label class="form-check-label" for="check_telefone">Telefone</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_email" value="email">
                            <label class="form-check-label" for="check_email">Email</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_coef_prog" value="coef_prog" disabled>
                            <label class="form-check-label" for="check_coef_prog">Coef. de Progressão</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_coef_rend" value="coef_rend" disabled>
                            <label class="form-check-label" for="check_coef_rend">Coef. de Rendimento</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_curso_aluno" value="curso_aluno">
                            <label class="form-check-label" for="check_curso_aluno">Curso do Aluno</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_universidade" value="universidade">
                            <label class="form-check-label" for="check_universidade">Universidade</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_curso_disciplina" value="curso_disciplina">
                            <label class="form-check-label" for="check_curso_disciplina">Curso da Disciplina</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_depto_disciplina" value="depto_disciplina">
                            <label class="form-check-label" for="check_depto_disciplina">Departamento da Disciplina</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_parecer" value="parecer">
                            <label class="form-check-label" for="check_parecer">Parecer do Docente</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_justificativa" value="justificativa">
                            <label class="form-check-label" for="check_justificativa">Justificativa</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_data_solicitacao" value="data_solicitacao">
                            <label class="form-check-label" for="check_data_solicitacao">Data da Solicitação</label>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="checkbox_exibir_coluna" 
                                id="check_observacao" value="observacao">
                            <label class="form-check-label" for="check_observacao">Observação</label>
                        </div>
                    </div>
                    <div class="form-group border p-2 pl-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="show_atendidas" 
                                    id="check_exibir_atendidas" value="exibir_atendidas">
                                <label class="form-check-label" for="check_exibir_atendidas">Exibir também as solicitações já atendidas pela Seção de Graduação.</label>
                        </div>
                    </div>
                </div>

                <input type="button" value="Pesquisar" class="btn btn-primary" name="bt_pesquisar" id="bt_pesquisar">
            </form>
        </div>
    </div>

    
    <div class="row" id="div_matriculas">
        <div class="col-12 pt-3" id="selector_matriculas">
     

        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
    var replace_content = false;
    var url = $('#div_tipo_matricula').attr('url-ajax');
    load_data_ajax(null, $('#sel_tipo'), url, null, replace_content);
    url = $('#sel_curso_disciplina').attr('url-ajax');
    load_data_ajax("todos", $('#sel_curso_disciplina'), url, null, replace_content);
    url = $('#div_status_matricula').attr('url-ajax');
    load_data_ajax(null, $('#sel_status_pesquisar'), url, null, replace_content);
    url = $('#div_semester').attr('data-ajax');
    load_data_ajax(null, $('#sel_semesters'), url, null, replace_content);
});

$('#bt_pesquisar').click(function(){
    var selector_pai = $('#form_processar_matricula');
    var selector_filho = $('#selector_matriculas');

    load_matriculas(selector_pai, selector_filho, hide_div_pesquisa());
});

$('#bt_nova_pesquisa').click(function(){
    $('#div_nova_pesquisa').addClass('d-none');
    $('#div_pesquisa').removeClass('d-none');
});


function hide_div_pesquisa(){
    $('#div_nova_pesquisa').removeClass('d-none');
    $('#div_pesquisa').addClass('d-none');
}



</script>



{% endblock %}