{% extends "matricula/index.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container w-25 pt-5">
        {% for message in messages %}
            <div class="alert alert-danger alert-sm" id="div_error">{{ message }}</div>
        {% endfor %}
        <form class="form-signin" role="form" action="{% url 'registrar_usuario' %}" method="post" id="form_register_user">
            {% csrf_token %}
            <h3 class="form-signin-heading">Registre-se:</h3>
            <div  id="div_cpf">
                <div class="form-group">
                    <input type="text" id="text_cpf" name="text_cpf" class="form-control form-control-sm" 
                    placeholder="CPF (somente números)" maxlength="11" required>
                </div>
            </div>
            <div class="d-none" id="div_register">


                

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Continuar" id="bt_continue" required disabled>
            </div>
        </form>
    </div>

<script>
   

$("#text_cpf").on("propertychange change keyup paste input", function(){
    if ($(this).val().length < 11 || !$.isNumeric($(this).val())) {
        $('#bt_continue').prop('disabled', true);
    } else {
        $('#bt_continue').removeAttr('disabled');
    }
});



</script>

{% endblock %}