{% extends "matricula/index.html" %}

{% load filtros_matricula %}

{% block content %}
    <div class="container w-25 pt-5">
        {% for message in messages %}
            <div class="alert alert-danger alert-sm" id="div_error">{{ message }}</div>
        {% endfor %}
        <form class="form-signin" role="form" action="{% url 'registrar_aluno' %}" method="post" id="form_register_student">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="text_cpf" name="text_cpf" class="form-control form-control-sm" 
                placeholder="CPF" value="{{ cpf|c_bool_none:'Sim,Não,' }}" required readonly="redonly">
            </div>
            <div class="form-group">
                <input type="text" id="text_username" name="text_username" class="form-control form-control-sm" 
                placeholder="Nome de usuário" required>
            </div>
            <div class="form-group">
                <input type="password" id="text_password" name="text_password" class="form-control form-control-sm" 
                placeholder="Senha" required>
            </div>
            <div class="form-group">
                <input type="password" id="text_re_password" name="text_re_password" class="form-control form-control-sm" 
                placeholder="Repita a senha" required>
            </div>
            <div class="form-group">
                <input type="text" id="text_name" name="text_name" class="form-control form-control-sm" 
                    placeholder="Nome completo" value="{{ student.nome|c_bool_none:'Sim,Não,' }}" required>
            </div>
            <div class="form-group">
                <input type="text" id="text_rg" name="text_rg" class="form-control form-control-sm" 
                    placeholder="R.G." value="{{ student.rg|c_bool_none:'Sim,Não,' }}" required>
            </div>
            {% if categoria == "Em Curso" %}
                <div class="form-group">
                    <input type="text" id="text_ra" name="text_ra" class="form-control form-control-sm" 
                        placeholder="R.A." value="{{ student.ra|c_bool_none:'Sim,Não,' }}" required>
                </div>
            {% endif %}
            <div class="form-group">
                <input type="text" id="text_telefone" name="text_telefone" class="form-control form-control-sm" 
                    placeholder="Telefone" value="{{ student.telefone|c_bool_none:'Sim,Não,' }}" required>
            </div>
            <div class="form-group">
                <input type="email" id="text_email" name="text_email" class="form-control form-control-sm" 
                    placeholder="Email" value="{{ student.email|c_bool_none:'Sim,Não,' }}" required>
            </div>
            <div class="form-group">
                <input type="text" id="text_curso" name="text_curso" class="form-control form-control-sm" 
                    placeholder="Curso" value="{{ student.curso|c_bool_none:'Sim,Não,' }}" required 
                    {% if categoria == "Em Curso" %}
                        readonly="readonly"
                    {% endif %}
                    >
            </div>
            <div class="form-group">
                <input type="text" id="text_universidade" name="text_universidade" class="form-control form-control-sm" 
                    placeholder="Universidade" value="{{ student.universidade|c_bool_none:'Sim,Não,' }}" required
                    {% if category == "Em Curso" %}
                        readonly="readonly"
                    {% endif %}
                    >
            </div>
            <div class="form-group">
                <input type="text" id="text_category" name="text_category" class="form-control form-control-sm" 
                    placeholder="Categoria" value="{{ category|c_bool_none:'Sim,Não,' }}" required readonly="readonly">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-sm btn-primary btn-block" value="Registrar" id="bt_register" disabled>
            </div>
        </form>
    </div>


<script>
   


$('#form_register_student input[type!=submit][type!=hidden]').on('propertychange change keyup paste input', function(){

    if ($(this).attr('id') == 'text_cpf'){
        if ($(this).val().length < 11 || !$.isNumeric($(this).val())) {
            $('#bt_register').prop('disabled', true);
        } else {
            $('#bt_register').removeAttr('disabled');
        }
    } else {
        empty_field = false;
        $('#form_register_student input[type!=submit][type!=hidden]').each(function(){
            if ($(this).val().length == 0){
                $('#bt_register').prop('disabled', true);
                empty_field = true;
            }
        })
    }
    if (!empty_field){
        $('#bt_register').removeAttr('disabled');
    }
});

</script>




{% endblock %}