{% extends 'matricula/index.html' %}
{% load filtros_matricula %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-danger alert-sm">{{ message }}</div>
    {% endfor %}
    <form method="POST" action="#" enctype="multipart/form-data" id="form_files">
        {% csrf_token %}
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="rg_file" name="rg_file" required accept="application/pdf" data-msg="RG">
                <label class="custom-file-label" for="customFile">Escolha o RG</label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="comp_file" name="comp_file" required accept="application/pdf" data-msg="Comprovante">
                <label class="custom-file-label" for="customFile">Escolha o Comprovante</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Testar" class="btn btn-sm btn-primary" id="bt_upload_files">
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/matricula/atualizar_bd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matricula/upload_file.js' %}"></script>
{% endblock %}