{% load filtros_matricula %}

{% if erro %}
    <div class="alert alert-danger alert-sm" id="div_error">{{ erro }}</div>
{% else %}
    Categoria: {{ categoria }}
    <div class="form-group">
        <input type="text" id="text_username" name="text_username" class="form-control form-control-sm" 
        placeholder="Nome de usuário" required>
    </div>
    <div class="form-group">
        <input type="password" id="text_password" name="text_password" class="form-control form-control-sm" 
        placeholder="Senha" required>
    </div>
    <div class="form-group">
        <input type="password" id="text_re_password" name="text_re_password" class="form-control form-control-sm" 
        placeholder="Repita a senha" required>
    </div>
    <div class="form-group">
        <input type="text" id="text_name" name="text_name" class="form-control form-control-sm" 
            placeholder="Nome completo" value="{{ aluno.nome|c_bool_none:'Sim,Não,' }}" required>
    </div>
    <div class="form-group">
        <input type="text" id="text_rg" name="text_rg" class="form-control form-control-sm" 
            placeholder="R.G." value="{{ aluno.rg|c_bool_none:'Sim,Não,' }}" required>
    </div>
    {% if categoria == "Em Curso" %}
    <div class="form-group">
        <input type="text" id="text_ra" name="text_ra" class="form-control form-control-sm" 
            placeholder="R.A." value="{{ aluno.ra|c_bool_none:'Sim,Não,' }}" required>
    </div>
    {% endif %}
    <div class="form-group">
        <input type="text" id="text_telefone" name="text_telefone" class="form-control form-control-sm" 
            placeholder="Telefone" value="{{ aluno.telefone|c_bool_none:'Sim,Não,' }}" required>
    </div>
    <div class="form-group">
        <input type="email" id="text_email" name="text_email" class="form-control form-control-sm" 
            placeholder="Email" value="{{ aluno.email|c_bool_none:'Sim,Não,' }}" required>
    </div>
    <div class="form-group">
        <input type="text" id="text_curso" name="text_curso" class="form-control form-control-sm" 
            placeholder="Curso" value="{{ aluno.curso|c_bool_none:'Sim,Não,' }}" required 
            {% if categoria == "Em Curso" %}
                readonly="readonly"
            {% endif %}
            >
    </div>
    <div class="form-group">
        <input type="text" id="text_universidade" name="text_universidade" class="form-control form-control-sm" 
            placeholder="Universidade" value="{{ aluno.universidade|c_bool_none:'Sim,Não,' }}" required
            {% if categoria == "Em Curso" %}
                readonly="readonly"
            {% endif %}
            >
    </div>
    <div class="form-group">
        <input type="text" id="text_category" name="text_category" class="form-control form-control-sm" 
            placeholder="Categoria" value="{{ categoria|c_bool_none:'Sim,Não,' }}" required readonly="readonly">
    </div>
{% endif %}