{% load filtros_matricula %}
{% load staticfiles %}


{% if matriculas %}
    <div class="row">
        <div class="col-12" id="div_status_lote" url-ajax="{% url 'load_status_matricula' %}">
            Alterar Status em lote:
        </div>
    </div>
    <form method="post" id="form_batch_update">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col-4" id="div_status_lote" url-ajax="{% url 'load_status_matricula' %}">
                <select id="sel_status_lote" name="status" class="form-control form-control-sm">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-4 align-text-bottom">
                <input id="bt_alterar_lote" type="button" class="btn btn-sm btn-primary" value="Alterar" data-url="{% url 'batch_update' %}">
            </div>
        </div>
    </form>
     <div class="row">
        <div class="col-6">
            <input type="checkbox" name="cb_select_all" id="cb_select_all" value="select">
            <label for="cb_select_all">Selecionar Todos</label>
        </div>
        <div class="text-right col-6">
            {% with num_matriculas=matriculas.count %}
                {{ num_matriculas }} matricula{{ num_matriculas|pluralize }} encontradada{{ num_matriculas|pluralize }}.
            {% endwith %}
        </div>
    </div>
    <div>
        <table class="table table-striped table-hover table-sm small" id="table_matriculas">
            {% for matricula in matriculas %}
                {% if forloop.first %}
                    <thead class="thead-unesp">
                        <tr>
                            <th scope="col"></th>
                            {% for field in matricula.keys %}
                                {% if field != "id" and field != "atendida" %}
                                    <th scope="col">{{ field|nome_campo }}</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Ações</th>
                            <th scope="col">Atendida</th>
                        </tr>
                    </thead>
                {% endif %}
                <tr>
                    {% with id=ids|index:forloop.counter0 %}
                        <td scope="row" data-id={{ id }}>
                            {{ id }}
                            <input type="checkbox">
                        </td>
                    {% endwith %}
                    {% for key, value in matricula.items %}
                        {% if key != "id" and key != "atendida" %}
                            <td>{{ value|c_bool_none:"Sim,Não,"|linebreaksbr }}</td>
                        {% endif %}
                    {% endfor %}
                    {% with id=ids|index:forloop.counter0 %}
                        <td>
                            {% if matricula.atendida is False or user.admin.categoria == "stg" %}
                                <a href="#" url-ajax="{% url 'load_editar_matricula' id %}" class="btn btn-xs btn-primary editar">Editar</a>
                                {% if matricula.status__status != "Cancelada"  or user.admin.categoria == "stg" %}
                                    <a href="#" url-ajax="{% url 'delete_matricula_ajax' id %}" class="btn btn-xs btn-danger excluir">Excluir</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    
                        <td>
                            {% if user.admin.categoria == "stg" %}
                                <select id="sel_atendida" name="sel_atendida" class="form-control form-control-xs">
                                    <option value="1" {% if matricula.atendida == True %}selected{% endif %}
                                    data-url="{% url 'update_atendida' id 1 %}">Sim</option>
                                    <option value="0" {% if matricula.atendida == False %}selected{% endif %}
                                    data-url="{% url 'update_atendida' id 0 %}">Não</option>
                                </select>
                            {% else %}
                                {{ matricula.atendida|c_bool_none:"Sim,Não," }}
                            {% endif %}
                        </td>  
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    {% for message in messages %}
        <div class="alert alert-danger alert-sm">{{ message }}</div>
    {% endfor %}
{% endif %}


  <script>
    $('#table_matriculas a.editar').click(function(){
        var url = $(this).attr('url-ajax');
        var replace_content = true;
        var modal = $('#modal_editar_matricula');
        load_data_ajax(null, modal, url, function(){modal_show(modal);}, replace_content);
    });

    $('#table_matriculas a.excluir').click(function(){
        var url = $(this).attr('url-ajax');
        delete_matricula(null, url);
    });

    $('#cb_select_all').change(function(){
        var checked = $(this).prop('checked');
        $('#table_matriculas input[type=checkbox]').prop('checked', checked);
    });

    $('#table_matriculas select').change(function(){
        var url = $('option:selected', this).data('url');
        call_ajax(url);
    });

    $(document).ready(function(){
        var replace_content = true;
        url = $('#div_status_lote').attr('url-ajax');
        load_data_ajax(null, $('#sel_status_lote'), url, null, replace_content);
    });

    $('#bt_alterar_lote').click(function(){
        var ids = [];
        var url = $(this).data('url');
        var data = $('#form_batch_update').serializeArray();
        $('#table_matriculas input[type=checkbox]:checked').each(function(){
            ids.push($(this).parent().data('id'));
        })
        data.push({name: "ids", value: ids});
        batch_update(url, data, function(){atualizar_tela();});
    });

  </script>


<!-- Modal -->
<div class="modal fade" id="modal_editar_matricula" tabindex="-1" role="dialog" aria-labelledby="modal_dialog_label" 
  aria-hidden="true">

</div>

  




