{% extends 'matricula/modal_template.html' %}
{% load staticfiles %}
{% load filtros_matricula %}
  



    {% block modal_title %}
        {% if matricula %}
            {{ matricula.turma }}
        {% else %}
            Erro
        {% endif %}
    {% endblock %}

    {% block modal_body %}
        {% if matricula %}
            <div class="form-group">
                Aluno:
                <label class="form-control form-control-sm">{{ matricula.aluno }}</label>
            </div>
            <form url-ajax="{% url 'load_editar_matricula' matricula.id %}" id="form_editar_matricula" method="POST" action="#">
                {% csrf_token %}
                <div class="form-group" id="div_status_matricula" url-ajax="{% url 'load_status_matricula' %}">
                    Status:
                    <select id="sel_status" name="status" class="form-control form-control-sm">
                        <option vlaue=""></option>
                    </select>
                </div>
                <div class="form-group">
                    Parecer do Docente:
                    <textarea name="text_parecer" class="form-control">{{ matricula.parecer_docente|c_bool_none:",," }}</textarea>
                </div>
                <div class="form-group">
                    Observação:
                    <textarea name="text_observacao" class="form-control">{{ matricula.observacao_graduacao|c_bool_none:",," }}</textarea>
                </div>
            </form>
        {% else %}
            {% for message in messages %}
                <div class="alert alert-danger alert-sm">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block modal_footer %}
        <div class="form-group">
            <input type="button" id="btn_modal_salvar" value="Salvar" class="btn btn-sm btn-success">
        </div>
    <script>

        $("#modal_editar_matricula").on('shown.bs.modal', function(){
            console.log($('#div_status_matricula').attr('url-ajax'));
            var replace_content = true;
            url = "{% url 'load_status_matricula' %}";
            load_data_ajax(null, $('#div_status_matricula #sel_status'), url, function(){choose_select($('#div_status_matricula #sel_status'), {{ matricula.status_id }});}, replace_content);
        });


        $("#btn_modal_salvar").click(function(){
            var modal = $('#modal_editar_matricula');
            salvar_matricula_ajax($('#form_editar_matricula'));
        });

    </script>

    {% endblock %}


        

