{% if turmas %}
    {% for turma in turmas %}
        <option value="{{ turma.id }}">{{ turma }}</option>
    {% endfor %}
{% else %}
    <option value>Disciplina sem turma prática</option>
{% endif %}