{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">RA</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Universidade</th>
                    <th scope="col">Curso</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            {% for aluno in alunos %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ aluno.ra }}</td>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.telefone }}</td>
                    <td>{{ aluno.email }}</td>
                    <td>{{ aluno.universidade }}</td>
                    <td>{{ aluno.curso }}</td>
                    <td>{{ aluno.user.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}