{% extends 'matricula/index.html' %}
{% load filtros_matricula %}

{% block content %}
    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-danger alert-sm">{{ message }}</div>
        {% endfor %}
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Universidade</th>
                    <th scope="col">Curso</th>
                    <th scope="col">RG</th>
                    <th scope="col">Comprovante</th>
                    <th scope="col">Último upload</th>
                </tr>
            </thead>
            {% for aluno in alunos %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ aluno.nome|c_bool_none:"Sim,Não," }}</td>
                    <td>{{ aluno.telefone|c_bool_none:"Sim,Não," }}</td>
                    <td>{{ aluno.email|c_bool_none:"Sim,Não," }}</td>
                    <td>{{ aluno.universidade|c_bool_none:"Sim,Não," }}</td>
                    <td>{{ aluno.curso|c_bool_none:"Sim,Não," }}</td>
                    <td>
                        {% if aluno.rg_file %}
                            <a href="{% url 'download_file' aluno.rg_file %}" download>Download</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if aluno.comprovante_file %}
                            <a href="{% url 'download_file' aluno.comprovante_file %}" download>Download</a>
                        {% endif %}
                    </td>
                    <td>{{ aluno.file_upload_date|c_bool_none:"Sim,Não," }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}