{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Nº de disciplinas</th>
                </tr>
            </thead>
            {% for departamento in departamentos %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ departamento.codigo }}</td>
                    <td>{{ departamento.nome }}</td>
                    <td>{{ departamento.disciplinas.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}