{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Carga Horária (h)</th>
                    <th scope="col">Departamento</th>
                </tr>
            </thead>
            {% for disciplina in disciplinas %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ disciplina.codigo }}</td>
                    <td>{{ disciplina.nome }}</td>
                    <td>{{ disciplina.carga_horaria }}</td>
                    <td>{{ disciplina.departamento }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}