{% extends 'matricula/index.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-sm small">
            <thead class="thead-unesp">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Turma</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Oferecimento</th>
                </tr>
            </thead>
            {% for turma in turmas %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ turma.disciplina.codigo }}{{ turma.turma }}</td>
                    <td>{{ turma.disciplina.nome }}</td>
                    <td>{{ turma.curso }}</td>
                    <td>{{ turma.get_tipo_display }}</td>
                    <td>{{ turma.calendario }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}